
@{
    ViewBag.Title = "Index";
}

<h2>Press the button to decide where to go for lunch</h2>
<div class="row panel">
    <div class="col-sm-3">
        <h3 id="PlaceToEat">
            Hello
        </h3>   
    </div>

    <div class="col-xs-12">
        <button id ="btn" class="btn btn-block btn-lg btn-success"> Press me </button>
    </div>

</div>
